.logo-container{


    margin-bottom: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
 
  

}

.logo{
    height: 50px;
    width: 50px;
}
#email{
    padding-left: 3px;
    margin-top: 30px;
    font-size: 12px;
    color: #656B73;
    
}



#div1{
    
    background-color: whitesmoke;
    border-color: black;
    background-color: white;
    width: 354px;
    height: 354px;
}
*{
    font-family: HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    
}
#sign-in{
    font-size: 28px !important;
    text-align: center;
    /* font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; */
    
    
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body{
    
   height: 100vh;
   padding: 0;
   margin: 0;
    
}

#container{
    background-color: whitesmoke;
    height: 601px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.username{
    color: #0FADFF;
    margin-top: 20px;

}

a.username{
    
    text-decoration: none;
    justify-content: center;
    display: flex;
}

#btn{

    margin-top: 20px;
    padding: 11px 24px 10px 24px;
    border-width: 0;
    border-radius: 30px;
    background-color:   #0FADFF;
    color: white;
    font-size: 15px;
}

#btn:hover{
    background-color: #006da8;
    transition: all .1s linear;
}

   

.btn-container{
    
    text-align: center;
}




#div1{
    padding: 10px;
}

#input{
    width: 350px; height: 40px; background-color: #F7F7F7; border: none;
    border-radius: 3px;
    
}

#input:hover{
    border: 1px solid blue;
    outline: none;
    animation-delay: .1s;
    transition: all .1s ease-in-out;
    
}

#input:focus{
    outline: none !important;
    border-bottom: 1px solid blue;
    box-shadow: 0px 1px 0px 0px blue;
   
}

.list{
    color: #656b73;
    display: table;
    text-decoration: none;
    margin-top: 10px;
}

.list:hover{
    color: black;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all .1s ease-in-out;
    
}

.footer-container .footer-column{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding-right: 6.25%;
    height: auto;
}
.footer-column-header{

    line-height: 23px;
}

#global-language{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background: white;
    width: 199px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.6);
    height: 33px;
    cursor: pointer;
}

#bottom-page-container{
    color: #656B73;
    line-height: 54px;
    background-color: #262626;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;

}

.bottom-page{
    text-decoration: none;
    color: #656B73;
    margin-right: 40px;
}

.bottom-page:hover{
    color: white;
    border-bottom: 2px solid yellow;
    transition: all 0.1s ease-in-out;
}
#bottom-page-container{
    margin-left: 224px;
}

.footer-container{
    padding: 30px 0 0px 0px;
    display: flex;
    justify-content: center;
    
}

.language-selection-block{
    margin-left: 224px;
    margin-bottom: 30px;
}

























/* .footer{
    justify-content: left;
    display: flex;
}


.footer-column-header{
    margin-bottom: 10px;
    box-sizing: content-box;
    color: rgba(0,0,0,.87);
    line-height: 23px;
    font-weight: 500;
}

.list{
    display: table;
    text-decoration: none;
    padding-bottom: 0px;
}

#footer-table.footer-column-header
{
    height: 258px;
    margin: 20px;
}

#bottom-page-container{
    color: #656B73;
    line-height: 54px;
    background-color: #262626;
    margin:auto;
}

.bottom-page{
    text-decoration: none;
    color: #656B73;
} */